# Node
node_modules/
src/*/node_modules/
dist/
*.js.map

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/


# Env
.env
*.env.local

# Build
*.o
*.a
bin/

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log

